* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    counter-reset: note;
}
 */
.hidden {
    visibility: hidden;
}

.special {
    margin-bottom: 2em;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    text-align: justify;
}

.aside-left {
    min-width: 2.5em;
}

.vertical-line-top {
    margin-left: 4px;
    margin-bottom: 10px;
    border-left: 1px solid grey;
    height: 20px;
}

.vertical-line-bottom {
    margin-left: 5px;
    margin-top: 10px;
    border-left: 1px solid grey;
    height: 40px;
}

.logo-1 {
    width: 12px;
    margin: 8px 0;
}

.logo {
    width: 9px;
    margin: 5px 0;
}

h1::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #00b1db;
    height: 6rem;
    width: 3em;
    transform: translateY(90%);
    margin-left: .9em;
    margin-right: .9em;
}

h2 {
    font-size: 1.5em;
}

h2::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #fff;
    height: 6rem;
    width: 3em;
    transform: translateY(90%);
    margin-left: .9em;
    margin-right: .9em;
}

hr {
    display: block;
    width: 30%;
    border: 0;
    border-top: 3px solid #00b1db;
    margin: 0.8em 0;
    padding: 0;
}

hr-1 {
    display: block;
    width: 100%;
    border: 0;
    border-top: 3px solid #00b1db;
    margin: 1em 0;
    padding: 0;
}

.note-container {
    position: relative;
    font-size: .7em;
    font-weight: bold;
    margin: 2em auto;
}

 .no-margin {
  margin: 0;
}
 /* Próba wyciagania .note za pomoca css */
 /*.note::before {
    counter-increment: note;
    content: counter(note) ".";
}

.note {
    position: absolute;
    top: 0;
    left: 580px;
    width: 150px;
    height: 100%;
    padding-left: 7px;
    font-size: 0.9em;
}
 */
.section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: justify;
}

.section1 {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    align-content: stretch;
    text-align: justify;
}

.aside-right {
    position: relative;
    min-width: 7em;
    left: 25px;
    top: 15px;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.arrow {
  width: 3em;
  height: 3em;
  margin-right: 2em;
}

 .new-notes {
/*   margin-left: 20px;*/
/* margin-top: 30px;
  */ /*   display:block; */
  position: relative;
  bottom: 230px;
  left: 580px;
  width: 130px;
/*   height: 100%; */
/*   padding-left: 7px; */
  font-size: 0.7em;
}
.booking {
    background: url("images/booking_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 100%;
}
.container-1 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.white {
    color: #fff;
    margin-left: 2.5em;
    margin-bottom: 2.5em;
}

.calendar .ui-corner-all {
    border: none;
}

.calendar {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.ui-widget-content,
.ui-widget-content .ui-state-default,
.ui-widget-header,
.ui-state-default,
.ui-datepicker,
.ui-state-hover,
.ui-datepicker-calendar tr td {
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    margin: 5px auto;
}

.calendar {
    background-color: rgb(128, 128, 128, 0.5);
    width: 280px;
    height: 280px;
    border-radius: 7px;
}

.ui-datepicker-current-day {
  position: relative;
  z-index: 2;
}

.ui-datepicker-current-day:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #00b1db;
    border-radius: 50%;
    z-index: -1;
}

.blocked {
  color: grey;
  position: relative;
}

 .blocked:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 15%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: blue;
    border-radius: 50%;
    z-index: -1;
}

.validation {
    width: 280px;
    height: 280px;
    background-color: white;
    margin-left: 10px;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.bar {
    width: 80%;
    font-size: 1em;
    height: 30px;
    border-radius: 5px;
}
.bg-1 {
    background-color: #cee8ef;
}
.bg-2 {
    background-color: #00b1db;
    color: #fff;
    margin-top: 20px;
}

@media screen and (max-width: 970px) {
    .new-notes {
     width: 100px;
     left: 480px;
     bottom: 275px;
    }
    .container {
        max-width: 500px;
    }
}

@media screen and (max-width: 800px) {
    .new-notes {
/*       width: 70px;
       */
      left: 370px;
      bottom: 315px;
    /*   text-align: left; */
    }
    .container {
        max-width: 400px;
    }
}

@media screen and (max-width: 650px) {
    .aside-left {
      width: 100%;
    }
   .row-1 {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
    }
    .logo, .logo-1 {
      margin: 5px 10px;
    }
    .vertical-line-top, .vertical-line-bottom {
      display: none;
    }
    .container {
       width: 90%;
    }
    .row {
      flex-flow: column nowrap;
      justify-content: center;
    }

    .section1 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: justify;
    }
    .aside-right {
      margin: 15px auto;
      max-width: 80%;
      left: 0px;
      top: 0px;
    }
    .new-notes {
      left: 0;
      top: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      text-align: left;
       width: 100%;
    }

    .arrow {
      width: 12px;
      height: 12px;;
      margin: 8px;
      transform: rotate(90deg);
    }

    .hidden {
      visibility: visible;
    }

    .container {
        max-width: 400px;
    }
    .m-l {
      text-align: center;

    }
    .calendar, .validation, .section {
      margin: 10px auto;
    }
}
